body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gotham', sans-serif;
    color: white;
}

@font-face {
    font-family: 'Gotham';
    src: url('path-to-your-font/Gotham.woff2') format('woff2'),
         url('path-to-your-font/Gotham.woff') format('woff'),
         url('path-to-your-font/Gotham.otf') format('opentype');
  }


h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    height: 10em;
    margin-top: 98px; 

}

.scale-in-center {
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.2s both;
}

a {
    color: inherit;
}

@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 1;
    }
  }
  

#landing {
    background-color: #1F1F1F; /* You can adjust this color to the shade of gray/black you want */
    height: 100vh; /* This makes the div take up the full height of the viewport */
    display: flex; /* These three lines center the text vertically and horizontally */
    justify-content: center;
    align-items: center;
    text-transform: uppercase; /* This makes the text uppercase */
    font-family: 'Gotham', sans-serif;
    color: #F8F4E3;
    position: relative;
   

}

#landing h1.typewriter {
    font-size: 6em;
    text-align: right;
    margin-left: -130px;
    line-height: 0.85;
    margin-top: -200px;
    
}
h2.typewriter {
    width:0px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Gotham', sans-serif;
}

.icons{
    position: absolute;
    top: 52%;
    left: 50%;  
    transform: translate(-50%, -50%);
    margin-left: -50px;
}

div i {
    padding: 10px;
}
.scroll-down {
    position: absolute;
    bottom: 40px; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    transform: scale(3);
}


