body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gotham', sans-serif;
    color: white;
}

@font-face {
    font-family: 'Gotham';
    src: url('path-to-your-font/Gotham.woff2') format('woff2'),
         url('path-to-your-font/Gotham.woff') format('woff'),
         url('path-to-your-font/Gotham.otf') format('opentype');
  }

/* @media screen and (max-width: 768px) {
    TODO
} */
  

h1,h2,h3{
    width:400px;
    text-align: center;
}
h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h2 {
    height: 14.15em;
    margin-top: 98px; 

}

h3 {
    height:11.5em;
    margin-left: -270px;
    margin-bottom: 10px;
    color: #89CFF0;
}

a {
    color: inherit;
}
a:link {
    text-decoration: none;
}

  

#landing {
    background-color: #1F1F1F; /* You can adjust this color to the shade of gray/black you want */
    height: 100vh; /* This makes the div take up the full height of the viewport */
    display: flex; /* These three lines center the text vertically and horizontally */
    justify-content: center;
    align-items: center;
    text-transform: uppercase; /* This makes the text uppercase */
    font-family: 'Gotham', sans-serif;
    color: #F8F4E3;
    position: relative;
   

}

#landing h1.typewriter {
    font-size: 6em;
    text-align: right;
    line-height: 0.85;
    margin-top: -300px;
    
}
h2.typewriter {
    width:0px;
}

.button-move {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 70% ;
    left: 50%;
    gap: 20px; 
    animation: button-move 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;

}
.button-move button {
    padding: 10px 10px; 
    cursor: pointer;
    border: 2px solid #F8F4E3;  
    background-color: transparent;
    color: #F8F4E3;  
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
    transition: background-color 0.3s ease;
    font-size: 16px;  
    z-index: 9999;
    position: relative;
    padding-right: 15px;
}

.button-move button:hover {
    background-color: #F8F4E3;  
    color: #1F1F1F;  
}



@keyframes button-move {
    0% {
    transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        transform-origin: center center;
      opacity: 1;
    }
  }


.icons {
    position: fixed;
    top: 60%;
    left: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: icons 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;

}

@keyframes icons {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      transform-origin: center center;
      opacity: 1;
    }
  }

  .cv-icon {
    position: absolute;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    background-color: inherit;
    color: #fff;
    padding: 0px 0px;
    width: 16px;
    left: 8px;
    top: -18px;
  }
  

div i {
    padding: 10px;
}



#about{
    background-color: #1F1F1F; /* You can adjust this color to the shade of gray/black you want */
    margin-top: -23px;
    width:99vw;
    height: 100vh;
}


